<header>
  <app-header-nav></app-header-nav>
</header>

<div class="card" *ngFor="let car of listCarsPortfolio">
  <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
    <img src="{{car.imagePath}}" alt="image-car" class="img-fluid" />
    <a href="#!">
      <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
    </a>
  </div>
  <div class="card-body">
    <h4 class="card-title">Referencia : {{car.reference}}</h4>
    <h5 class="card-title">Marca :{{car.brandCarString}}</h5>
    <h6 class="card-title">A tan solo : {{car.price}}</h6>
    <h6 class="card-title">Unidades limitadas :{{car.stock}}</h6>
    <button (click)="addCarShoppingCart(car)" *ngIf="car.stock != 0" class="btn btn-info me-2">Agregar al
      carrito</button>
    <button (click)="deleteCarShoppingCart(car)" *ngIf="car.stock != 0" class="btn btn-danger">Eliminar del
      carrito</button>
  </div>
</div>